@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-suisse), sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

@keyframes infinite-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}
.animate-infinite-scroll-delayed-1 {
  animation: infinite-scroll 30s linear infinite;
  animation-delay: -10s;
}
.animate-infinite-scroll-delayed-2 {
  animation: infinite-scroll 30s linear infinite;
  animation-delay: -20s;
}
